<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>StartingX</key>
		<integer>380</integer>
		<key>StartingY</key>
		<integer>940</integer>
		<key>MinFinishingX</key>
		<integer>240</integer>
		<key>MaxFinishingX</key>
		<integer>300</integer>
		<key>MinFinishingY</key>
		<integer>250</integer>
		<key>MaxFinishingY</key>
		<integer>310</integer>
		<key>FinishingX</key>
		<integer>270</integer>
		<key>FinishingY</key>
		<integer>280</integer>
		<key>Key</key>
		<string>NucleusCentre</string>
		<key>TickX</key>
		<string>102</string>
		<key>TickY</key>
		<string>280</string>
	</dict>
	<key>1</key>
	<dict>
		<key>StartingX</key>
		<integer>660</integer>
		<key>StartingY</key>
		<integer>900</integer>
		<key>MinFinishingX</key>
		<integer>460</integer>
		<key>MaxFinishingX</key>
		<integer>520</integer>
		<key>MinFinishingY</key>
		<integer>250</integer>
		<key>MaxFinishingY</key>
		<integer>310</integer>
		<key>FinishingX</key>
		<integer>490</integer>
		<key>FinishingY</key>
		<integer>280</integer>
		<key>Key</key>
		<string>CellWallCentre</string>
		<key>TickX</key>
		<string>692</string>
		<key>TickY</key>
		<string>280</string>
	</dict>
	<key>2</key>
	<dict>
		<key>StartingX</key>
		<integer>110</integer>
		<key>StartingY</key>
		<integer>940</integer>
		<key>MinFinishingX</key>
		<integer>240</integer>
		<key>MaxFinishingX</key>
		<integer>300</integer>
		<key>MinFinishingY</key>
		<integer>340</integer>
		<key>MaxFinishingY</key>
		<integer>400</integer>
		<key>FinishingX</key>
		<integer>270</integer>
		<key>FinishingY</key>
		<integer>370</integer>
		<key>Key</key>
		<string>CellMembraneCentre</string>
		<key>TickX</key>
		<string>102</string>
		<key>TickY</key>
		<string>370</string>
	</dict>
	<key>3</key>
	<dict>
		<key>StartingX</key>
		<integer>660</integer>
		<key>StartingY</key>
		<integer>940</integer>
		<key>MinFinishingX</key>
		<integer>460</integer>
		<key>MaxFinishingX</key>
		<integer>520</integer>
		<key>MinFinishingY</key>
		<integer>340</integer>
		<key>MaxFinishingY</key>
		<integer>400</integer>
		<key>FinishingX</key>
		<integer>490</integer>
		<key>FinishingY</key>
		<integer>370</integer>
		<key>Key</key>
		<string>ChloroplastCentre</string>
		<key>TickX</key>
		<string>692</string>
		<key>TickY</key>
		<string>370</string>
	</dict>
	<key>4</key>
	<dict>
		<key>StartingX</key>
		<integer>380</integer>
		<key>StartingY</key>
		<integer>900</integer>
		<key>MinFinishingX</key>
		<integer>240</integer>
		<key>MaxFinishingX</key>
		<integer>300</integer>
		<key>MinFinishingY</key>
		<integer>670</integer>
		<key>MaxFinishingY</key>
		<integer>730</integer>
		<key>FinishingX</key>
		<integer>270</integer>
		<key>FinishingY</key>
		<integer>700</integer>
		<key>Key</key>
		<string>CytoplasmCentre</string>
		<key>TickX</key>
		<string>102</string>
		<key>TickY</key>
		<string>700</string>
	</dict>
	<key>5</key>
	<dict>
		<key>StartingX</key>
		<integer>110</integer>
		<key>StartingY</key>
		<integer>900</integer>
		<key>MinFinishingX</key>
		<integer>460</integer>
		<key>MaxFinishingX</key>
		<integer>520</integer>
		<key>MinFinishingY</key>
		<integer>670</integer>
		<key>MaxFinishingY</key>
		<integer>730</integer>
		<key>FinishingX</key>
		<integer>490</integer>
		<key>FinishingY</key>
		<integer>700</integer>
		<key>Key</key>
		<string>VacuoleCentre</string>
		<key>TickX</key>
		<string>692</string>
		<key>TickY</key>
		<string>700</string>
	</dict>
	<key>Name</key>
	<string>Cells4</string>
</dict>
</plist>
