<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>StartingX</key>
		<integer>100</integer>
		<key>StartingY</key>
		<integer>100</integer>
		<key>MinFinishingX</key>
		<integer>140</integer>
		<key>MaxFinishingX</key>
		<integer>160</integer>
		<key>MinFinishingY</key>
		<integer>130</integer>
		<key>MaxFinishingY</key>
		<integer>170</integer>
		<key>FinishingX</key>
		<integer>150</integer>
		<key>FinishingY</key>
		<integer>150</integer>
		<key>Key</key>
		<string>firstCentre</string>
		<key>TickX</key>
		<string>90</string>
		<key>TickY</key>
		<string>150</string>
	</dict>
	<key>1</key>
	<dict>
		<key>StartingX</key>
		<integer>110</integer>
		<key>StartingY</key>
		<integer>200</integer>
		<key>MinFinishingX</key>
		<integer>180</integer>
		<key>MaxFinishingX</key>
		<integer>200</integer>
		<key>MinFinishingY</key>
		<integer>180</integer>
		<key>MaxFinishingY</key>
		<integer>200</integer>
		<key>FinishingX</key>
		<integer>190</integer>
		<key>FinishingY</key>
		<integer>190</integer>
		<key>Key</key>
		<string>secondCentre</string>
		<key>TickX</key>
		<string>130</string>
		<key>TickY</key>
		<string>190</string>
	</dict>
	<key>2</key>
	<dict>
		<key>StartingX</key>
		<integer>120</integer>
		<key>StartingY</key>
		<integer>300</integer>
		<key>MinFinishingX</key>
		<integer>240</integer>
		<key>MaxFinishingX</key>
		<integer>260</integer>
		<key>MinFinishingY</key>
		<integer>240</integer>
		<key>MaxFinishingY</key>
		<integer>260</integer>
		<key>FinishingX</key>
		<integer>250</integer>
		<key>FinishingY</key>
		<integer>250</integer>
		<key>Key</key>
		<string>thirdCentre</string>
	</dict>
	<key>3</key>
	<dict>
		<key>StartingX</key>
		<integer>300</integer>
		<key>StartingY</key>
		<integer>300</integer>
		<key>MinFinishingX</key>
		<integer>380</integer>
		<key>MaxFinishingX</key>
		<integer>420</integer>
		<key>MinFinishingY</key>
		<integer>380</integer>
		<key>MaxFinishingY</key>
		<integer>420</integer>
		<key>FinishingX</key>
		<integer>400</integer>
		<key>FinishingY</key>
		<integer>400</integer>
		<key>Key</key>
		<string>thirdCentre</string>
	</dict>
	<key>4</key>
	<dict>
		<key>StartingX</key>
		<integer>300</integer>
		<key>StartingY</key>
		<integer>400</integer>
		<key>MinFinishingX</key>
		<integer>500</integer>
		<key>MaxFinishingX</key>
		<integer>520</integer>
		<key>MinFinishingY</key>
		<integer>500</integer>
		<key>MaxFinishingY</key>
		<integer>520</integer>
		<key>FinishingX</key>
		<integer>510</integer>
		<key>FinishingY</key>
		<integer>510</integer>
		<key>Key</key>
		<string>fourthCentre</string>
	</dict>
</dict>
</plist>
