<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>Answer</key>
		<string>acid</string>
		<key>ImageName</key>
		<string>acidTick</string>
	</dict>
	<key>1</key>
	<dict>
		<key>Answer</key>
		<string>neutral</string>
		<key>ImageName</key>
		<string>neutralTick</string>
	</dict>
	<key>2</key>
	<dict>
		<key>Answer</key>
		<string>alkali</string>
		<key>ImageName</key>
		<string>alkaliTick</string>
	</dict>
	<key>3</key>
	<dict>
		<key>Answer</key>
		<string>Universal Indicator</string>
		<key>ImageName</key>
		<string>universalTick</string>
	</dict>
	<key>4</key>
	<dict>
		<key>Answer</key>
		<string>red</string>
		<key>ImageName</key>
		<string>redTick</string>
	</dict>
	<key>5</key>
	<dict>
		<key>Answer</key>
		<string>orange</string>
		<key>ImageName</key>
		<string>orangeTick</string>
	</dict>
	<key>6</key>
	<dict>
		<key>Answer</key>
		<string>yellow</string>
		<key>ImageName</key>
		<string>yellowTick</string>
	</dict>
	<key>7</key>
	<dict>
		<key>Answer</key>
		<string>green</string>
		<key>ImageName</key>
		<string>greenTick</string>
	</dict>
	<key>8</key>
	<dict>
		<key>Answer</key>
		<string>blue</string>
		<key>ImageName</key>
		<string>blueTick</string>
	</dict>
	<key>9</key>
	<dict>
		<key>Answer</key>
		<string>indigo</string>
		<key>ImageName</key>
		<string>indigoTick</string>
	</dict>
	<key>10</key>
	<dict>
		<key>Answer</key>
		<string>violet</string>
		<key>ImageName</key>
		<string>violetTick</string>
	</dict>
</dict>
</plist>
